{% extends 'page_temps/base_temp.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('form', 'webpack_assets') }}
{% endblock %}
{% block body %}

    {% for message in app.flashes('info') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(register_form, {'attr': {'id': 'custom_post_form',
        'class': 'form-wrapper' }}) }}

    {{ form(register_form) }}

    {{ form_end(register_form) }}

{% endblock %}
