{% extends 'page_temps/base_temp.html.twig' %}

{% block title %}Reset hesla{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

{#    {{ form_start(register_form, {'attr': {'id': 'custom_register_form',#}
{#        'class': 'form-wrapper' }}) }}#}
    {{ form_start(requestForm, {'attr': {'class': 'form-wrapper'}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

        {{ form_row(requestForm.email) }}
    <div >
            <small>
                Enter your email address and we we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-form">Send password reset email</button>
    {{ form_end(requestForm) }}
{% endblock %}