{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Category CRUDE - Category index</h1>

    <table class="table">
        <thead>
        <tr>
            <th class="id-class">Id</th>
            <th class="name-surname">Názov</th>
            <th class="name-surname">Slug</th>
            <th class="action">Akcie</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">Zobraziť</a>
            <a href="{{ path('category_edit', {'id': category.id}) }}">Upraviť</a>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="4">Žiadne položky na zobrazenie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="create-new">
        <a href="{{ path('category_new') }}">Vytvoriť novú kategóriu</a>
    </div>
{% endblock %}
