{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    <div id="categorPanel" class="category-panel float-left">
        <div id="dateDisplay"></div>
        <div id="timeDisplay"></div>


        <label>pAnkst0re!</label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeCategoryPanel()">&times;</a>
        <h2>Kategórie</h2>
        {% for ctg in categories %}
            <a href="#{{ ctg.slug }}">{{ ctg.name }}</a>
        {% endfor %}
        <h2>Módy</h2>
        <a onclick="setBackgroundColor('000000')">Čierna(default)</a>
        <a onclick="setBackgroundColor('4b0082')">Indigo</a>
        <a onclick="setBackgroundColor('000080')">Navy</a>


    </div>
    <div id="main">
        <button class="openbtn" id="ponuka" onclick="openCategoryPanel()">&#9776; Ponuka</button>
    </div>

    <div class="collection">
        {% for item in data %}
            <div class="product">
                <a class="product-url" href="{{ url('produkt', {'id': item.id}) }}">
                    <img class="product-image" src="{{ item.img }}" alt="">
                    <p class="product-name">
                        {{ item.title }}
                    </p>
                </a>
                <span class="product-price">
                    Cena {{ item.price |number_format(2, '.', ',')}} €
            </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function closeCategoryPanelBySize(x) {
            if (x.matches) { // If media query matches
                closeCategoryPanel();
            } else {
                openCategoryPanel();
            }
        }

        var x = window.matchMedia("(max-width: 1000px)")
        closeCategoryPanelBySize(x) // Call listener function at run time
        x.addListener(closeCategoryPanelBySize) // Attach listener function on state changes


        function openCategoryPanel() {
            document.getElementById("categorPanel").style.width = "14em";
            document.getElementById("main").style.marginLeft = "14em";
            document.getElementById("ponuka").style.display = "none";
            document.getElementById("dateDisplay").style.display = "block";
            document.getElementById("timeDisplay").style.display = "block";
        }

        function closeCategoryPanel() {
            document.getElementById("categorPanel").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("ponuka").style.display = "block";
            document.getElementById("dateDisplay").style.display = "none";
            document.getElementById("timeDisplay").style.display = "none";
        }

        function changeBackground() {
            if (sessionStorage.getItem('color')) {
                document.body.style.backgroundColor = sessionStorage.getItem('color');
            }else{
                document.body.style.backgroundColor =  "#000000";
                sessionStorage.setItem('color', "#000000");
            }
        }
        changeBackground();


        function setBackgroundColor(col) {
            var farba;
            farba = "#" + col;
            sessionStorage.setItem("color", farba);
            changeBackground();
        }

        function actualTime() {
            //Dátum
            var date = new Date();
            var year = date.getFullYear();
            var dayInWeek = date.getDay();
            var month = date.getMonth();
            var dayInMonth = date.getDate();
            var days = ["Nedeľa", "Pondelok", "Utorok", "Streda", "Štvrtok", "Piatok", "Sobota"];
            var months = ["Január", "Február", "Marec", "Apríl", "Máj", "Jún", "Júl", "August", "September",
                "Október","November", "December"];
            //Čas
            var time = new Date();
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            if (hours == 24) {
                hours = 0;
            } else if (hours > 12) {
                hours = hours - 0;
            }

            if (hours < 10) {
                hours = "0" + hours;
            }

            if (minutes < 10) {
                minutes = "0" + minutes;
            }

            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var finalTime = document.getElementById("timeDisplay");
            var finalDate = document.getElementById("dateDisplay");

            finalDate.textContent = "" + dayInMonth + ". " + months[month] + " " + year;

            finalTime.textContent = "" + hours + ":" + minutes + ":" + seconds + "  (" + days[dayInWeek] + ")";
            setTimeout("actualTime()", 1000);
        }
        actualTime();
    </script>
{% endblock %}

