{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    <div id="categorPanel" class="category-panel float-left">
        <label>pAnkst0re!</label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2>Kategórie</h2>
        {% for ctg in categories %}
            <a href="#{{ ctg.slug }}">{{ ctg.name }}</a>
        {% endfor %}
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Ponuka</button>
    </div>

    <div class="collection">
        {% for item in data %}
            <div class="product">
                <a class="product-url" href="{{ url('produkt', {'id': item.id}) }}">
                    <img class="product-image" src="{{ item.img }}" alt="">
                    <p class="product-name">
                        {{ item.title }}
                    </p>
                </a>
                <span class="product-price">
                    Cena {{ item.price |number_format(2, '.', ',')}} €
            </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}



{% block javascripts %}
    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("categorPanel").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("categorPanel").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
{% endblock %}
