{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    {% if app.user.role[0] == 'ROLE_USER' or app.user.role[0] == 'ROLE_NONE' %}
        <div>Minul si: {{ app.user.expense }}</div>
        <div>Aktivovany: {{ app.user.activate }}</div>
        <a href="{{ url('user_edit', {'id': app.user.id}) }}">Upraviť profil</a>
    {% else %}
        <div>Minul si: {{ app.user.expense }}</div>
        <div>Aktivovany: {{ app.user.activate }}</div>
        <div>Zárobok: {{ app.user.earning }}</div>
        <div>Hodnotenie: {{ app.user.rating }}</div>
        <a href="{{ url('user_edit', {'id': app.user.id}) }}">Upraviť profil</a>
    {% endif %}
{% endblock %}

