<div class="top-panel clear-fix">
    <ul class="navigation float-left">
        <li class="navigation-hover">
            Menu
            <i class="fas fa-caret-down"></i>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/homepage">Domov</a>
        </li>
        <li>
            <a href="">Obchodné podmienky</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.role[0] == 'ROLE_ADMIN' %}
                <li>
                    <a href="{{ path('statistics') }}">Štatistiky</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    <ul class="form-buttons float-right drop-down drop-down-out">
        <li>
            {# <button> #}

            {# </button> #}
            <form method="get" action="{{ path('search_results') }}">
                <label>

                    <input class="input-search" type="text" name="search" placeholder="Hľadaj v e-shope...">
                </label>
            </form>
        </li>

        {% set sesionName = app.user.username|default('undefined') %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {% set userRole = app.user.roles %}
            {% if userRole[0] == 'ROLE_SELLER' or userRole[0] == 'ROLE_ADMIN' %}
                <li>
                    <a href="{{ url('profile_info', {'id': app.user.id}) }}">{{ app.user.name|default('undefined') }} <i
                                class="fas fa-caret-down"></i> </a>
                    <ul class="bg-black">
                        <li>
                            <a id="item-counter"
                               href={{ path('shopping_cart') }}>Košík(<span>{{ app.session.get(sesionName)|length }}</span>)</a>
                        </li>
                        <li>
                            <a id="" href="{{ path('article_index') }}">Predať</a>
                        </li>
                        {% if userRole[0] == 'ROLE_ADMIN' %}
                            <li>
                                <a id="" href="{{ path('all_crude') }}">CRUDE</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ url('profile_info', {'id': app.user.id}) }}">{{ app.user.name|default('undefined') }} <i
                                class="fas fa-caret-down"></i></a>
                    <ul class="bg-black">
                        <li>
                            <a id="item-counter"
                               href={{ path('shopping_cart') }}>Košík(<span>{{ app.session.get(sesionName)|length }}</span>)</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li>
                <a class="button radius" href="{{ path('app_logout') }}">Odhlásiť</a>
            </li>
        {% else %}
            <li>
                <a class="button radius" href={{ path('app_login') }}>Prihlásiť</a>
            </li>
            <li>
                <a class="button radius" href={{ path('register-form') }}>Registrovať</a>
            </li>
        {% endif %}
    </ul>
</div>

