<div class="top-panel clear-fix">
    <ul class="navigation float-left">
        <li class="navigation-hover">
            Menu
        </li>
        <li>
            <a href="http://127.0.0.1:8000/homepage">Domov</a>
        </li>
        <li>
            <a href="">O nás</a>
        </li>
        <li>
            <a href="">Obchodné podmienky</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
    </ul>

    <ul class="form-buttons float-right">
        <li>
            <label>
                <button>

                </button>
                <input class="input-search" type="text" placeholder="Hľadaj v e-shope...">
            </label>
        </li>

        {% set sesionName = app.user.username|default('undefined') %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {% set userRole = app.user.roles %}
            {% if userRole[0] == 'ROLE_SELLER' or userRole[0] == 'ROLE_ADMIN' %}
                <li>
                    <a href="{{ url('profile_info', {'id': app.user.id}) }}">{{ app.user.name|default('undefined') }}</a>
                </li>
                <li>
                    <a id="item-counter"
                       href={{ path('shopping_cart') }}>Košík(<span>{{ app.session.get(sesionName)|length }}</span>)</a>
                </li>
                <li>
                    <a id="" href="{{ path('article_index') }}">Predať</a>
                </li>
                <li>
                    <a class="button radius" href="{{ path('app_logout') }}">Odhlásiť</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url('user_edit', {'id': app.user.id}) }}">{{ app.user.name|default('undefined') }}</a>
                </li>
                <li>
                    <a id="item-counter"
                       href={{ path('shopping_cart') }}>Košík(<span>{{ app.session.get(sesionName)|length }}</span>)</a>
                </li>
                <li>
                    <a class="button radius" href="{{ path('app_logout') }}">Odhlásiť</a>
                </li>
            {% endif %}

        {% else %}
            <li>
                <a class="button radius" href={{ path('app_login') }}>Prihlásiť</a>
            </li>
            <li>
                <a class="button radius" href={{ path('register-form') }}>Registrovať</a>
            </li>
        {% endif %}
    </ul>
</div>

