{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Objednávka CRUDE - Objednávka index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dátum</th>
                <th>Adresa</th>
                <th>ID zákazníka</th>
                <th>Celková suma</th>
                <th>Číslo faktúry</th>
                <th>Spôsob platby</th>
                <th>Zaplatené</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.userId }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.invoiceNumber }}</td>
                <td>{{ order.paymentMethod ? 'Yes' : 'No' }}</td>
                <td>{{ order.paid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">Zobraziť</a>
{#                    <a href="{{ path('order_edit', {'id': order.id}) }}">Upraviť</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Žiadne položky na zobrazenie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <div class="create-new">#}
{#        <a href="{{ path('order_new') }}">Vytvoriť novú objednávku</a>#}
{#    </div>#}
{% endblock %}
