{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Objednávka</h1>

    <table class="table form-wrapper">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Dátum</th>
            <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{ order.address }}</td>
        </tr>
        <tr>
            <th>ID zákazníka</th>
            <td>{{ order.userId }}</td>
        </tr>
        <tr>
            <th>Celková suma</th>
            <td>{{ order.totalPrice }}</td>
        </tr>
        <tr>
            <th>Číslo faktúry</th>
            <td>{{ order.invoiceNumber }}</td>
        </tr>
        <tr>
            <th>Spôsob platby</th>
            <td>{{ order.paymentMethod ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Zaplatené</th>
            <td>{{ order.paid ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="create-new">
        <a href="{{ path('order_index') }}">Späť na zoznam</a>

{#        <a href="{{ path('order_edit', {'id': order.id}) }}">Upraviť</a>#}
    </div>


    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
