{{ form_start(form, {'attr': {'class': 'form-wrapper' }}) }}
    {{ form_widget(form) }}
    <button class="button radius">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

{#{% for message in app.flashes('info') %}#}
{#    <script>#}
{#        var msg = "{{ message }}";#}
{#        setTimeout(function () {#}
{#            alert(msg)#}
{#        }, 20);#}
{#    </script>#}
{#{% endfor %}#}
