{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    {% include "categoryPanel.html.twig" %}
    <div class="container-article">
        <div class="image-container">
            <img src="/uploads/{{ data.img }}" alt="">
        </div>

        <div class="container-description">
            <div>
                <h1 class="headline">{{ data.title }}</h1>
            </div>
            <div class="des">
                <p class="des">{{ data.desc }}</p>
                <a href="{{ url('app_homepage_category', {'id': data.catId.id}) }}">Prehliadať túto kategóriu</a>
                <p>ID majitela: {{ data.userId }}</p>
                <p>Pocet KS na sklade: {{ data.amount }}</p>
            </div>
            <div>
                <div class="price">
                    {{ data.price |number_format(2, '.', ',') }} €
                </div>
                <div>
                    bez DPH ({{ data.price*0.8 |number_format(2, '.', ',') }} €)
                </div>

                {% if data.amount > 0 and data.available == 1 %}
                    <div class="cart">
                        <button class="btn add-cart-btn" data-id="{{ data.id }}" title="Pridať do košíka"></button>
                        <button class="btn delete-cart-btn" data-id="{{ data.id }}" title="Vymazať z košíka"></button>
                    </div>
                {% else %}
                    <div>Tovar momentálne nie je k dispozícii.</div>
                {% endif %}

            </div>
            <div class="rate-wrapper">
                <h1>Ohodnoť tovar</h1>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}