{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    {% include "category_panel.html.twig" %}
    <div class="container-article">
        <div class="image-container">
            <img src="/uploads/{{ data.img }}" alt="">
        </div>

        <div class="container-description">
            <div>
                <h1 class="headline">{{ data.title }}</h1>
            </div>
            <div class="des">
                <p class="des">{{ data.desc }}</p>
                <a href="{{ url('app_homepage_category', {'id': data.catId.id}) }}">Prehliadať túto kategóriu</a>
                <p>ID majitela: {{ data.userId }}</p>
                <p>Pocet KS na sklade: {{ data.amount }}</p>
            </div>
            <div>
                <div class="price">
                    {{ data.price |number_format(2, '.', ',') }} €
                </div>
                <div>
                    bez DPH ({{ data.price*0.8 |number_format(2, '.', ',') }} €)
                </div>

                {% if data.amount > 0 and data.available == 1 %}
                    <div class="cart">
                        <button class="btn add-cart-btn" data-id="{{ data.id }}" title="Pridať do košíka"></button>
                        <button class="btn delete-cart-btn" data-id="{{ data.id }}" title="Vymazať z košíka"></button>
                    </div>
                {% else %}
                    <div>Tovar momentálne nie je k dispozícii.</div>
                {% endif %}

            </div>
            <div class="rate-wrapper">

                {% if canRate %}
                    <form method="post" action="{{ app.request.uri }}/rating">
                        <h1>Ohodnoť tovar</h1>
                        <div class="rate">
                            {% for index in [5, 4, 3, 2, 1] %}
                                <input type="radio" id="star{{ index }}" name="rate" value="{{ index }}">
                                <label for="star{{ index }}" title="text">{{ index }} stars</label>
                            {% endfor %}
                        </div>
                    </form>
                {% else %}
                    <style> .rate-info { display: block !important; }</style>
                {% endif %}

                <div class="rate-info">
                    Hodnotenie tovaru: <span>{{ data.rating | number_format(2, '.', ',') }}</span> z 5 hviezdičiek.
                    Tovar ste už hodnotili(hodnotiť tovar je možné len raz za mesiac!)
                    <span>Hodnotilo {{ numberOfRates }} používateľov</span>.
                </div>
            </div>
        </div>
    </div>
    {% include 'banner.html.twig.html' %}

{% endblock %}