{#{% extends 'page_temps/base_temp.html.twig' %}#}
{#{% block body %}#}
{#    <h1>Article CRUDE - Article index</h1>#}

{#    <table class="table">#}
{#        <thead class="table-head">#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Názov</th>#}
{#                <th>Popis</th>#}
{#                <th>Cena</th>#}
{#                <th>Obrázok</th>#}
{#                <th>Akcie</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for article in articles %}#}
{#            <tr>#}
{#                <td>{{ article.id }}</td>#}
{#                <td>{{ article.title }}</td>#}
{#                <td>{{ article.desc }}</td>#}
{#                <td>{{ article.price }}</td>#}
{#                <td>{{ article.img }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('article_show', {'id': article.id}) }}">Zobraziť</a>#}
{#                    <a href="{{ path('article_edit', {'id': article.id}) }}">Upraviť</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="6">Žiadne položky na zobrazenie</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('article_new') }}">Vytvoriť nový article</a>#}
{#{% endblock %}#}

AHOj