{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Article</h1>

    <table class="table form-wrapper">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Názov</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Popis</th>
                <td>{{ article.desc }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ article.price }}</td>
            </tr>
            <tr>
                <th>Obrázok</th>
                <td>{{ article.img }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ article.available ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ article.amount }}</td>
            </tr>
        </tbody>
    </table>

    <div class="create-new">
        <a href="{{ path('article_index') }}">Späť na zoznam</a>

        <a href="{{ path('article_edit', {'id': article.id}) }}">Upraviť</a>
    </div>


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
