<!DOCTYPE html>

<title>Edit user</title>
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {{ encore_entry_link_tags('crude', 'webpack_assets') }}
{% endblock %}
{% block body %}
    <h1>Uprav užívateľa</h1>

    {% for message in app.flashes('info') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('user/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('user_index') }}">Späť</a>


{% endblock %}
