{% extends 'page_temps/base_temp.html.twig' %}


{% block body %}
    <h1>User CRUDE - User index</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="id-class">Id</th>
            <th class="name-surname">Meno</th>
            <th class="name-surname">Priezvisko</th>
            <th>Email</th>
            <th>Heslo</th>
            <th>Rola</th>
            <th class="action">Akcie</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.role|join(', ') }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Zobraziť</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Upraviť</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Žiadne položky na zobrazenie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="create-new">
        <a href="{{ path('user_new') }}">Vytvoriť nového užívateľa</a>
    </div>

    {% for message in app.flashes('info') %}
        <script>
            var msg = "{{ message }}";
            setTimeout(function () {
                alert(msg)
            }, 20);
        </script>
    {% endfor %}
{% endblock %}
